.venv
.env
words-to-sentences/data/*
words-to-sentences/dst/*
audio-to-text/input_audio/*
audio-to-text/output_text/*
words-to-sentences/src/diarization/*
words-to-sentences/src/speech-recognition/*
sentences-to-speeches/src/*
sentences-to-speeches/dst/*
!words-to-sentences/data/.gitkeep
!words-to-sentences/dst/.gitkeep
!audio-to-text/input_audio/.gitkeep
!audio-to-text/output_text/.gitkeep
!words-to-sentences/src/diarization/.gitkeep
!words-to-sentences/src/speech-recognition/.gitkeep
!sentences-to-speeches/src/.gitkeep
!sentences-to-speeches/dst/.gitkeep
